@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

/* Header*/
header {
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(../images/mesa-2.webp);
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.logo {
    margin-top: 1rem;
}


.logo img {
    width: 180px;
    border-radius: 0.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav li {
    display: flex;
    font-family: 'Charm', cursive;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
    color: #ff4800;
    border-bottom: 1px solid #ff4800;
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    font-family: 'Charm', cursive;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px #fff;
    width: 280px;
    padding: 10px;
    visibility: hidden;
}

.nav-mobile li {
    width: 300px;
    font-size: 25px;
    list-style: none;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #fff;
    margin-bottom: 1rem;
}

.close {
    font-size: 26px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.menu-mobile {
    cursor: pointer;
    display: none;
}

.midias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.midias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.midias li {
    list-style: none;
}

.midias a {
    padding: 0.3rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5rem;
}

.midias a:hover {
    box-shadow: 1px 1px #fff;
}

.template {
    margin-bottom: 6rem;
}

.template-text {
    font-family: 'Charm', cursive;
    letter-spacing: 0.1rem;
    align-items: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px #fff;
    text-shadow: 1px 1px 2px #000000;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.table {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Charm', cursive;
    color:  #fff;
    background: rgba(0, 0, 0,0.9);
}

.table h1 {
    font-size: 4rem;
}

.table-container {
    width: 100%;
}

.table-title {
    font-size: 2.5rem;
    color: #ff4800;
}

.table-container td {
    font-size: 1.8rem;
}

.table-footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agendar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.agendar button {
    border: none;
    border-radius: 10px;
    background-color: #ff4800;
    box-shadow: 2px 2px 4px #000000;
    color: white;
    font-size: 15px;
    padding: 8px;
}

.agendar button:hover {
    background-color: #da4003;
}

.agendar a {
    text-decoration: none;
    color: #fff;
}

/*Featured*/
.featured{
    margin-top: 5rem;
}

.featured-items {
    margin-bottom: 70px;
}
.featured-item {
    padding: 20px;
    transition: all 0.5s;
}

.featured-title {
    text-align: center;
    color: white;
    font-family: 'Charm', cursive;
}

.featured-title h1 {
    font-size: 3rem;
} 

.featured-item img {
    width: 100%;
}
.featured-item h4 {
    font-size: 17px;
    font-weight: 700;
    color: #aaa;
    margin-top: 15px;
    transition: all 0.5s;
}
.featured-item:hover h4 {
    color: #ff4800;
}
.featured-item h6 {
    color: #aaa;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.owl-nav {
    width: 100% !important;
    text-align: center !important;
}

.owl-prev, .owl-next {
    font-size: 6rem !important;
    color: #fff !important;
}


/* About */
.about {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.about-logo img {
    border-radius: 0.5rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Charm', cursive;
    color: #fff;
}

.about-info h1 {
    font-size: 4rem;
}

.about-info p {
    font-size: 1.6rem;
}

/* Foter */
.footer {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-image: url(../images/mesa.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-text {
    width: 600px;
    padding: 2rem;
    background: rgba(0, 0, 0,0.9);
    color: #fff;
    font-family: 'Charm', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

.footer-text-title {
    border-bottom: 1px solid #fff;
}

.footer-midias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-midias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-midias li {
    list-style: none;
}

.footer-midias a {
    padding: 0.3rem;
    font-size: 2rem;
    background: rgba(0, 0, 0,0.8);
    color: #fff;
    box-shadow: 1px 1px #fff;
    border-radius: 0.5rem;
}

.footer-midias a:hover {
    background: #000000;
    box-shadow: none;
}

.footer-form {
    width: 100%;
}

.cog-branding, .cog-branding--minimal,
.cog-abuse {
    display: none !important;
}

.top {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.top a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #333;
}

/*Responsive*/
@media(max-width: 480px) {
  
    html {
        position: absolute;
        width:100%;
        height:100%;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
    
    .featured-item {
        padding: 2px;
    }

    .featured-item .btn-light {
        --bs-btn-padding-x: 5px;
        --bs-btn-padding-y: 1px;
    }
}

@media(max-width: 768px) {
    header {
        padding: 10px;
    }

    .nav {
        visibility: hidden;
    }

    .btn-mobile div {
        width: 3rem;
        height: 0.4rem;
        margin: 0.3rem;
        background: #da4003;
       
    }

    .btn-mobile {
        cursor: pointer;
        display: block;
    }

    .featured-item {
        padding: 5px;
    }
    
    .featured-item .btn-light {
        font-size: 10px;
        font-weight: bold;
    }
    
    .footer {
        height: 100%;
        padding: 0;
        text-align: center;
    }
    
    .col-6 {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    #nav-bar {
        width: 100%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .featured-item .btn-light {
        font-size: 10px;
        font-weight: bold;
    }
    
    .footer {
        height: 100%;
        padding: 0;
        text-align: center;
    }
}