@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  position: relative;
  width:100%;
  height:100%;
  overflow-y: scroll !important;
}

body {
    overflow-x: hidden;
}

/* Header*/
header {
    color: rgb(255, 255, 255); 
    text-align: center;
    background-image: url(../images/mesa-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 150px 150px 150px
}

header img {
    width: 250px;
    box-shadow: 2px 2px 4px #333;
}

#nav-bar {
    margin-bottom: 4rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav li {
    display: flex;
    font-size: 24px;
    font-family: 'Charm', cursive;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
}

.nav a:hover {
    color: #da4003;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 2px #fff;
}

.nav-mobile {
    position: fixed;
    top: 10vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Charm', cursive;
    font-weight: bold;
    background: rgba(218, 64, 3, 0.7);
    box-shadow: 1px 1px 2px #fff;
    width: 180px;
    padding: 10px;
    visibility: hidden;
}

.nav-mobile li {
    width: 100px;
    list-style: none;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #fff;
    margin-bottom: 1rem;
}

.close {
    font-size: 26px;
    cursor: pointer;
}

.menu-mobile {
    cursor: pointer;
    display: none;
}

#header-info, #agendar {
    font-family: 'Charm', cursive;
    margin: 20px 0 40px 0;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px 1px 2px #fff;
    text-shadow: 1px 1px 2px #000000;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #ff4800;
    box-shadow: 2px 2px 4px #000000;
    color: white;
    font-size: 15px;
    padding: 8px;
}

button:hover {
    background-color: #da4003;
}

#btn {
    margin-top: 2rem;
    width: 100%;
}

#btn:disabled {
    background: rgba(255, 72, 0, 0.8);
}

/*Featured*/
#featured {
    background-color: black;
}
.featured-items {
    margin-bottom: 70px;
}
.featured-item {
    padding: 20px;
    transition: all 0.5s;
}

.line-up {
    text-align: center;
    color: white;
}

.featured-item img {
    width: 100%;
}
.featured-item h4 {
    font-size: 17px;
    font-weight: 700;
    color: #aaa;
    margin-top: 15px;
    transition: all 0.5s;
}
.featured-item:hover h4 {
    color: #ff4800;
}
.featured-item h6 {
    color: #aaa;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

#midias .btn-light {
    background-color: #000000;
    border: none;
    margin-bottom: 30px;
}

#midias nav {
    color: #ffffff;
}

.footer {
    color: #ffffff;
    background-image: url(../images/mesa.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#agendar {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

.form {
    margin: 30px 0 50px 0;
}

label {
    text-shadow: 1px 1px 2px #000000
}

#select-agenda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#date, #time {
    width: 40%;
    height: 40px;
}

.top {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.top a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #333;
}

/*Responsive*/
@media(max-width: 480px) {
    .featured-item {
        padding: 2px;
    }

    .featured-item .btn-light {
        --bs-btn-padding-x: 5px;
        --bs-btn-padding-y: 1px;
    }
}

@media(max-width: 768px) {
    header {
        padding: 10px;
    }

    .nav {
        visibility: hidden;
    }

    .menu-mobile div {
        width: 3rem;
        height: 0.4rem;
        margin: 0.3rem;
        background: #da4003;
        border: 1px solid #333;
    }

    .menu-mobile {
        cursor: pointer;
        display: block;
    }

    .featured-item {
        padding: 5px;
    }
    
    .featured-item .btn-light {
        font-size: 10px;
        font-weight: bold;
    }
    
    .footer {
        height: 100%;
        padding: 0;
        text-align: center;
    }
    
    .col-6 {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    #nav-bar {
        width: 100%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .featured-item .btn-light {
        font-size: 10px;
        font-weight: bold;
    }
    
    .footer {
        height: 100%;
        padding: 0;
        text-align: center;
    }
}

#messageName, #messageEmail,
#messagePhone {
    color: #aa0000;
    font-weight: bolder;
}
