@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

/* Header*/
header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(../images/mesa-2.webp);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.logo {
    margin-top: 1rem;
}


.logo img {
    width: 180px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px #000000;
}

.logo img:hover {
    opacity: 80%;
    box-shadow: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav li {
    display: flex;
    font-family: 'Charm', cursive;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px #000000;
}

.nav a:hover {
    color: #ff4800;
    border-bottom: 1px solid #ff4800;
}

.nav-bar {
    display: none;
}

.template {
    position: relative;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    overflow-y: hidden;
}

.template-text {
    position: absolute;
    top: 0;
    font-family: 'Charm', cursive;
    letter-spacing: 0.1rem;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    border-radius: 5px;
    animation: text-animate 8s linear infinite;
}

.template-text h1 {
    font-size: 4rem;
    border-bottom: 1px solid #fff;
}

.template-text h2 {
    font-size: 2rem;
}

@keyframes text-animate {
    0% {
        top: 35vh;
    }
    30% {
        top: 5vh;
    }
    60% {
        top: 5vh;
    }
    100% {
        top: 5vh;
    }
    100% {
        top: 5vh;
        color: #ff4800;
    }
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Charm', cursive;
    color:  #fff;
}

.table h1 {
    margin-top: 5rem;
    font-size: 4rem;
}

.table-container {
    width: 100%;
}

.table-title th {
    font-size: 3.5rem;
    color: #ff4800;
}

.table-container tr {
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.table-container td {
    width: 20%;
}

.table-price {
    color: #da4003;
}

.table-footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agendar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.agendar button {
    border: none;
    border-radius: 10px;
    background-color: #ff4800;
    box-shadow: 2px 2px 4px #000000;
    color: white;
    font-size: 15px;
    padding: 8px;
}

.agendar button:hover {
    background-color: #da4003;
}

.agendar a {
    text-decoration: none;
    color: #fff;
}

/*Featured*/
.featured{
    margin-top: 5rem;
}

.featured-item {
    padding: 1rem;
    transition: all 0.5s;
}

.featured-title {
    text-align: center;
    color: white;
    font-family: 'Charm', cursive;
}

.featured-title h1 {
    font-size: 3rem;
} 

.featured-item img {
    width: 100%;
}

.featured-item img:hover {
    opacity: 80%;
    border: 2px solid #000;
}

.featured-item h4 {
    font-size: 17px;
    font-weight: 700;
    color: #aaa;
    margin-top: 15px;
    transition: all 0.5s;
}
.featured-item:hover h4 {
    color: #ff4800;
}

.owl-nav {
    width: 100% !important;
    text-align: center !important;
}

.owl-prev, .owl-next {
    font-size: 6rem !important;
    color: #fff !important;
}


/* About */
.about {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.about-logo img {
    border-radius: 0.5rem;
}

.about-logo img:hover {
    opacity: 80%;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Charm', cursive;
    color: #fff;
    box-shadow: 1px 1px #fff;
}

.about-info h1 {
    font-size: 4rem;
}

.about-info p {
    font-size: 1.6rem;
}

/* Foter */
.footer {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url(../images/mesa.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-info {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-text {
    width: 600px;
    padding: 2rem;
    background: rgba(0, 0, 0,0.4);
    color: #fff;
    box-shadow: 1px 1px #fff;
    font-family: 'Charm', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text-title {
    font-size: 3rem;
    border-bottom: 1px solid #fff;
    margin-bottom: 2rem;
}

.footer-midias {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-midias li {
    list-style: none;
}

.footer-midias a {
    font-size: 2rem;
}

.footer-form {
    width: 100%;
    padding: 2rem;
}

.form-title {
    font-family: 'Charm', cursive;
    color: #fff;
    margin-bottom: 1rem;
}

.form-title h2 {
    font-size: 2rem;
    color: #da4003;
}

.form-title h1 {
    font-size: 2.5rem;
}

.cog-branding, .cog-branding--minimal,
.cog-abuse {
    display: none !important;
}

/*Responsive*/
@media(max-width: 480px) {
    html {
        position: absolute;
        width:100%;
        height:100%;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .template {
        margin: 0;
    }
    .template-text h1 {
        font-size: 2.5rem;
    }
    .template-text h2 {
        font-size: 1.4rem;
    }
    .table h1 {
        font-size: 3rem;
    }
    .table th {
        font-size: 1.8rem;
    }
    .table td {
        font-size: 1.4rem;
    }
    .featured {
        padding: 0.5rem;
        margin: 0;
    }
    .featured-title h1 {
        font-size: 2rem;
    }
    .featured-item {
        padding: 2px;
    }
    .featured-item .btn-light {
        --bs-btn-padding-x: 5px;
        --bs-btn-padding-y: 1px;
    }
    .owl-nav {
        display: none;
    }
    .about {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .about-logo img {
        width: 100%;
    }
    .about-info {
        box-shadow: none;
        border-bottom: 1px solid #fff;
    }
    .about-info h1 {
        font-size: 2.6rem;
    }
    .about-info p {
        font-size: 1.4rem;
    }
    .footer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .footer-info {
        margin-top: 3rem;
    }
    .footer-text {
        width: 100%;
        padding: 1rem;
        box-shadow: none;
        margin-bottom: 2rem;
    }
}

@media(max-width: 700px) {
    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    .nav-bar {
        display: block;
    }
    .nav {
        display: none !important;
    }
    .btn-mobile div {
        width: 2rem;
        height: 0.2rem;
        margin: 0.3rem;
        background: #fff;
    }
    .btn-mobile {
        cursor: pointer;
        display: block !important;
        background: rgba(218, 64, 3,0.8);
        border-radius: 0.5rem;
        padding: 0.3rem;
        border: 1px solid #000000;
    }
    .nav-mobile {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000000;
        opacity: 96%;
        width: 100%;
        height: 100%;
        z-index: 2;
        visibility: hidden;
    }
    .nav-mobile li {
        width: 600px;
        list-style: none;
        margin-bottom: 3rem;
        border-bottom: 1px solid #fff;
    }
    .nav-mobile a {
        text-decoration: none;
        font-family: 'Charm', cursive;
        font-size: 3rem;
        color: #fff;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 3rem;
        color: #fff;
        cursor: pointer;
    }
    .template {
        margin-bottom: 0;
    }
    .template-text h1 {
        font-size: 2.5rem;
    }
    .template-text h2 {
        font-size: 1.4rem;
    }
    .table h1 {
        font-size: 3rem;
    }
    .table th {
        font-size: 1.8rem;
    }
    .table-container td {
        width: 100%;
        font-size: 1rem !important;
    }
    .featured {
        padding: 0.5rem;
        margin: 0;
    }
    .featured-title h1 {
        font-size: 2rem;
    }
    .featured-item {
        padding: 2px;
    }
    .featured-item .btn-light {
        --bs-btn-padding-x: 5px;
        --bs-btn-padding-y: 1px;
    }
    .owl-nav {
        display: none;
    }
    .about {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .about-logo img {
        width: 100%;
    }
    .about-info {
        box-shadow: none;
        border-bottom: 1px solid #fff;
    }
    .about-info h1 {
        font-size: 2.6rem;
    }
    .about-info p {
        font-size: 1.4rem;
    }
    .footer {
        padding: 1rem;
        display: flex;
        flex-direction: column !important;
    }
    .footer-info {
        margin-top: 3rem;
    }
    .footer-text {
        width: 100%;
        padding: 1rem;
        box-shadow: none;
        margin-bottom: 2rem;
    }
}

@media(max-width: 1024px) {
    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    .nav {
        display: flex;
    }
    .nav a {
        font-size: 1.6rem;
    }
    .template {
        margin-bottom: 0;
    }
    .template-text h1 {
        font-size: 2.5rem;
    }
    .template-text h2 {
        font-size: 1.4rem;
    }
    .table {
        margin-top: 2rem !important;
    }
    .table h1 {
        font-size: 3rem;
    }
    .table th {
        font-size: 1.8rem;
    }
    .table td {
        font-size: 1.4rem;
    }
    .featured {
        padding: 0.5rem;
        margin: 0;
    }
    .featured-title h1 {
        font-size: 2rem;
    }
    .featured-item {
        padding: 2px;
    }
    .featured-item .btn-light {
        --bs-btn-padding-x: 5px;
        --bs-btn-padding-y: 1px;
    }
    .owl-nav {
        display: none;
    }
    .about {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .about-logo img {
        width: 100%;
    }
    .about-info {
        box-shadow: none;
        border-bottom: 1px solid #fff;
    }
    .about-info h1 {
        font-size: 2.6rem;
    }
    .about-info p {
        font-size: 1.4rem;
    }
    .footer {
        padding: 1rem;
        display: flex;
        flex-direction: row;
    }
    .footer-info {
        margin-top: 3rem;
        justify-content: space-evenly;
    }
    .footer-text {
        width: 100%;
        padding: 1rem;
        box-shadow: none;
        margin-bottom: 2rem;
    }
}